	.polyAreaContainer{
		border:1px ridge maroon;
		border-radius:10px;
		box-shadow: 4px 4px 6px maroon;
		width:98%;
		margin:auto;
		background:whiteSmoke;
		text-align:center;
	}

	.polyAreaContainer .header{
		max-width:90%;
		background: lightYellow;
		margin:auto;
		margin-top:4px;
		padding:2px;
	}
	.polyAreaContainer .header span{
        margin:2px;
        font-size:smaller;
        color: darkGray;
    }
	.polyAreaContainer .credits{
        font-size:xx-small; 
        padding:0;
        vertical-align: middle;
        opacity:0.7;
    }
    .polyAreaContainer .credits:hover{
        opacity:1;
        background:lightYellow;
    }
    .polyAreaContainer .credits:first-child{
        margin:auto;
    }
	 
	.polyAreaContainer .body{
		max-width:98%;
		background: white;
		margin:auto;
	}
	.polyAreaContainer .body .title{
		width:60%;
		float:left;
		margin:2px;
		padding:1px;
	}
	.polyAreaContainer .canvasContainer{
        float:left;
    }
	.polyAreaContainer .canvasPolyArea{
		background: lightYellow; /*url("img/ejes.png"); /*lightYellow;*/
		margin: 0 2%;
		margin-top:0;
		/*width:90%;*/
		border:1px solid orange;
		border-radius:8px;
		overflow:auto;
	}
	
	.polyAreaContainer .noCanvas{
		background:yellow; padding:5px; border:1px solid orange; border-radius:8px; box-shadow:2px 2px 2px orange;
	}


	.polyAreaContainer .canvasData{
		display: none;
		border:1px solid gray; border-radius:8px; box-shadow: 2px 2px 4px gray;
		float:left;
		width: 50%;
	}

    /*MEDIA QUERIES*/
	@media (max-width: 920px) {
	   .polyAreaContainer .canvasData{
	        width: 40%;
	    }
	}
	@media (max-width: 680px) {
       .polyAreaContainer .canvasData{
            width: 98%;
        }
    }

	.polyAreaContainer .canvasDataTitle{ 
	   float:left; background:aquaMarine; border:1px solid navy; border-radius:8px; 
	   box-shadow: 1px 1px 2px navy; color:navy; font-weight:bolder; margin:0; padding:0 2px; font-size:smaller;
	}
	.polyAreaContainer .canvasInfo{
		border: 1px solid blue;
		border-radius: 4px;
		padding: 4px;
		margin: 4px;
		text-align: center;
	}
	.polyAreaContainer .canvasIntro{
		border: 1px solid blue;
		border-radius: 4px;
		padding: 4px;
		margin: 4px;
		text-align: center;
	}
	.polyAreaContainer .introData{
		border: 1px solid blue;
		border-radius: 4px;
		padding: 4px;
		margin: 4px;
		text-align: center;
		background: whiteSmoke;
	}
	.polyAreaContainer .introData label{
		font-size:smaller;
		font-weight:bolder;
		padding: 2px;
		background: navajoWhite;
	}
	.polyAreaContainer .introData textarea{
		text-align: left;
		font-size:smaller;
		width:90%;
	}
	.polyAreaContainer .canvasOptions{
		border: 1px solid blue;
		border-radius: 4px;
		padding: 4px;
		margin: 4px;
		text-align: center;
	}
	.polyAreaContainer .canvasOptionsData{
		border: 1px solid blue;
		border-radius: 4px;
		padding: 4px;
		margin: 4px;
		text-align: left;
		font-size:smaller;
	}
	.polyAreaContainer .canvasOptionsData fieldset{
        border: 1px solid blue;
        border-radius: 4px;
        padding: 4px;
        margin: auto;
        width: 95%;
        text-align: center;
        background: lightYellow;
    }
    .polyAreaContainer .canvasOptionsData fieldset legend{
        color: lightGray;
        font-size: smaller;
        background: #333333;
        padding: 2px;
    }
		.polyAreaContainer .canvasOptionsData label{
			/*font-size:smaller;
			font-weight:bolder;
			padding: 2px;
			margin:2px;
			margin-left:4px;
			background: navajoWhite;*/
		}
		.polyAreaContainer .canvasOptionsData input{
			font-size:smaller;
			padding: 2px;
			margin:2px;
			border: 1px solid blue;
			border-radius: 4px;
		}
		.polyAreaContainer .canvasOptionsData input[type="checkbox"]{
			outline: 1px solid blue;
		}
		
	/*.polyAreaContainer .solution{
		border:1px ridge maroon;
		border:1px solid maroon;
		border-radius:8px;
		background: navajoWhite;
		text-align:left;
		margin:2px;
		padding:4px;
	}*/
	.polyAreaContainer .perimeter, .polyAreaContainer .area{
		font-size:larger;
		background: darkGreen;
		color: whiteSmoke;
		border:1px solid darkGreen;
		border-radius:8px;
		box-shadow: 1px 2px 2px darkGreen;
		padding: 2px 6px;
		margin:4px;
	}
	.polyAreaContainer .area{
		background: darkRed;
		color: whiteSmoke;
		border:1px solid darkRed;
		box-shadow: 1px 2px 2px darkRed;
	}
	
	/* GENERICS */
	.polyAreaContainer .inline{
		display: block;
		float:left;
		margin:auto;
		padding:2px;
	 }
	 .polyAreaContainer .inline4{
		width:33%;
	 }
	 .polyAreaContainer .inline6{
		width:46%;
	 }
	 .polyAreaContainer .bordered{
	   border:1px solid gray;
	 }
	 .polyAreaContainer .clearFix{
		clear:both;
		margin:0;
	 }

    /* BUTTONS */
	 .polyAreaContainer .buttons{
		/*float:right;
		right:2%;
		position:absolute;*/
		float:left;
	 }
	 .polyAreaContainer .buttonsData{
        float:right;
        right:2%;
        position:relative;
     }
	.polyAreaContainer .button{
		font-size:larger;
		font-weight:bolder;
		background: gray;
		color: white;
		border-left:1px solid lightGray;
		border-top:1px solid lightGray;
		border-right:1px solid darkGray;
		border-bottom:1px solid darkGray;
		border-radius:8px;
		box-shadow: 2px 4px 4px #333333;
		padding: 4px;
		margin:1px;
		text-decoration:none;
	}
	.polyAreaContainer .button:hover{
		font-weight:normal;
		color: #333333;
		background: navajoWhite;
		border-left-color:darkGray;
		border-top-color:darkGray;
		border-right-color:lightGray;
		border-bottom-color:lightGray;
		box-shadow: 1px 2px 2px #333333;
		cursor:pointer;
	}
	.polyAreaContainer .buttonBlue{
		background: blue;
		color: white;
		border-left-color:lightBlue;
		border-top-color:lightBlue;
		border-right-color:navy;
		border-bottom-color:navy;
	}
	.polyAreaContainer .buttonBlue:hover{
		background: navy;
		border-left-color:black;
		border-top-color:black;
		border-right-color:lightBlue;
		border-bottom-color:lightBlue;
		box-shadow-color: lightBlue;
	}
	.polyAreaContainer .buttonNavajo{
		background: lightYellow;
		color: maroon;
		border-left-color:yellow;
		border-top-color:yellow;
		border-right-color:navajoWhite;
		border-bottom-color:navajoWhite;
	}
	.polyAreaContainer .buttonNavajo:hover{
		background: navajoWhite;
		border-left-color:maroon;
		border-top-color:maroon;
		border-right-color:lightYellow;
		border-bottom-color:lightYellow;
		box-shadow-color: yellow;
	}
	.polyAreaContainer .buttonSmall{
		font-size:smaller; padding:2px; box-shadow: 1px 1px 2px;
	}
	.polyAreaContainer .button img{
		width:100%;
		height:100%;
		text-decoration:none;
		margin:0;
		padding:0;
	}
	.polyAreaContainer .buttonImage16m{
		width:16px;
		height:16px;
		display: inline-block;
	}
	.polyAreaContainer .buttonImage24{
		width:24px;
		display: inline-block;
	}

	/*ICOS*/
	.polyAreaContainer .icon{
	   margin: 2px;
       padding: 0;
       display: block;
       width: 100%;
       height: 100%;
       border:4px solid lightGray;
       background-color: lightGray;
       border-radius: 8px;
       box-shadow: 1px 1px 2px darkGray;
       outline: none;
       /*float:left;*/
	}
	.polyAreaContainer .icon:hover{
	   box-shadow: none;
	   background-color: navajoWhite;
	   border-color: navajoWhite;
	   outline: 1px solid;
	   cursor: pointer;
	}
	.polyAreaContainer .icon16{
       width: 16px;
       height: 16px;
       border-radius: 4px;
    }
    .polyAreaContainer .labelIcon{
       margin: 0 2px 0 4px;
       padding: 0;
       display: inline-block;
       width: 100%;
       height: 100%;
       outline: none;
       background: navajoWhite;
    }
    .polyAreaContainer .labelIcon16{
       width: 16px;
       height: 16px;
    }
    
    /*LOGOS*/
    .polyAreaContainer .logo{
       margin: 2px;
       padding: 0;
       width: 100%;
       height: 100%;
       border-radius: 8px;
       box-shadow: 1px 1px 2px darkGray;
       text-decoration:none;
       outline: none;
       float:left;
    }
    .polyAreaContainer .logo:hover{
       background-color: yellow;
    }
    .polyAreaContainer .logo9{
       width: 9px;
       height: 9px;
       border-radius: 1px;
    }
    .polyAreaContainer .logo12{
       width: 12px;
       height: 12px;
       border-radius: 2px;
    }
    .polyAreaContainer .logo16{
       width: 16px;
       height: 16px;
       border-radius: 4px;
    }
    .polyAreaContainer .logoGuerratron{
       background: url('data:image/gif;base64,R0lGODlhEAAQAOMMABUQEL4aF38yEmZXVCRmmU9mHf9ERVqrLM2Ue/uUMpSwwvrKgP///////////////yH5BAEKAA8ALAAAAAAQABAAAARY8J1HZb31jIzx+SDQXUg4XuCnnFT6JfCydAdBHIAgxAhmEwpCIAAbLESV34+YAMyQD+VAMNT1oEGbYhAwdFfQKEABEBkezjD6QaYI2OuLaPXYPHqsvP4SAQA7');
    }
    .polyAreaContainer .logoPolyArea{
       background: url('data:image/gif;base64,R0lGODlhEAAQAKECAAcJBOIeFP///////yH5BAEKAAIALAAAAAAQABAAAAI0lC8RyAeqQHMPAtmuVEIz/11HNHUctEwoWrJcmaQiPIPZ3OEUNqbI24toWMGApgI0JJW+AgA7');
    }
    